@use '../util' as u;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
}

body {
  font-family: u.$font;
  background: var(--background);
  color: var(--text-color);
  display: grid;
  justify-content: center;
}